*{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}


.hero{
  background: black;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
}


nav{
  background-color: rgb(31, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 8%;
   gap: 2rem;
}

nav .logo{
  width: 40px;
  cursor: pointer;



}


.btn2{
  background: #efefef;
  height: 30px;
  width: 60px;
  border-radius: 60px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.7s, margin-left 0.5s;
}

button span{
  display: block;
  background: #999;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: 2px;
}

.lampara {
  position: absolute;
  width: 50vw;
  max-height: 95vh;
  left: 0;
  
}


#lamp-light{
  
  transition: opacity 0.5s;

}
.on{
  opacity: 0.1;
  fill: white;
}
.active{
  background: green;
}
.active span{
  background: #fff;
  margin-left: 30px;
}


.container{
  max-width: 600px;
  margin-top: 7%;
  margin-left: 50%;
}

h1, h2 {
  text-align: center;
}

.word-container {
  margin-top: 40px;
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#input-meaning {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  flex-grow: 1;
}

#check-meaning-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.btn {
  padding: 20px 30px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  font-size: 15px;
}

button:last-child {
  margin-right: 0;
}
.alert-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.alert-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.alert-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.alert-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.alert-btn:hover {
  background-color: #0069d9;
}



















/* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.word-container {
  margin-top: 40px;
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#input-meaning {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  flex-grow: 1;
}

#check-meaning-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:last-child {
  margin-right: 0;
}
.alert-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.alert-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.alert-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.alert-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.alert-btn:hover {
  background-color: #0069d9;
}
